
.detalhes{
    background-color: #FFF;
    height: 1200px;
    width: 1024px;
    margin: 0 auto;
    margin-top: 30px;
}
.tituloDetal{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 40px;
    font-family:Tahoma;
    color: #476072;
}
.hrDet{
    color: #476072;
}

.carrFoto{
    margin-top: 30px;
    margin-left: 30px;
    float: left;
    margin-right: 10px;

}
.carrPlanta{
    margin-top: 30px;
    margin-left: 20px;
    float: right;
    margin-right: 40px;

}
.letraDet{
    padding-top: 25px;
    margin-bottom: -30px;
    font-size: 20px;
    font-family:Tahoma;
    color: #476072;
}
.contatoDet{
    float: left;
    margin-left: 50px;
    width: 420px;
    height: 650px;
    /*background-color: #987;*/
    font-size: 20px;
    font-family:Tahoma;
    color: #476072;
}
.informacaoDet{
    margin-left: 550px;
    width: 420px;
    height: 450px;
    font-size: 18px;
    font-family:Tahoma;
    /*background-color: #C0C0C0;*/
    color: #476072;
    margin-top: 450px; 
}
.contatoTiDet{
    font-size: 30px;
    font-family:Tahoma;
    color: #476072;
    margin-bottom: 30px;
}
.informacaoTiDet{
    font-size: 30px;
    font-family:Tahoma;
    color: #476072;
    margin-bottom: 30px;
}
input, textarea { 
    margin-top: 5px;
    width: 400px;
    background: none repeat scroll 0 0 #FFFFFF; 
    border: 1px solid #C9C9C9; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset, -5px -5px 0 0 #F5F5F6, 5px 5px 0 0 #F5F5F6, 5px 0 0 0 #F5F5F6, 0 5px 0 0 #F5F5F6, 5px -5px 0 0 #F5F5F6, -5px 5px 0 0 #F5F5F6; 
    color: #545658; 
    padding: 8px; 
    font-size: 14px; 
    border-radius: 2px 2px 2px 2px; 
    margin-bottom: 10px;
}